#root {
  max-width: fit-content;
  margin: 0 auto;
  padding: 1rem 0;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 0 1rem;
  margin: 1rem auto;
  margin-top: 0;
  border-radius: 8px;
  border: 2px solid #888;
  background-color: aliceblue;
  width: 95vw;
}

.header img {
  grid-column: 3;
  justify-self: end;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.header p {
  grid-column: 2;
  justify-self: center;
  font-size: 24px;
  font-weight: 700;
  color: darkred;
}

.post_card {
  width: 400px;
  height: 600px;
  border: 2px solid gray;
  border-radius: 8px;
  padding: 1rem;
  background-color: aliceblue;
}

.post_card:hover {
  cursor: pointer;
}

.post_img {
  width: 100%;
  max-height: 400px;
}

.likes {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.like_img {
  width: 24px;
  height: 24px;
}

.post_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.posts_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* flex-direction: row;
  justify-content: center;
  align-items: center; */
  gap: 1rem;
}

.footer {
  font-size: 0.85rem;
  color: #b0b3b8;
  width: 100%;
  text-align: center;
  background: transparent;
  margin-top: 20px;
  position: static;
}

.post_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_post {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 8px;
}

.add_post button {
  background-color: burlywood;
}

.create_post_area {
  border: 2px solid gray;
  border-radius: 8px;
  padding: 1rem;
  background-color: lightblue;
  width: 50vw;
}

.create_post_form {
  display: flex;
  flex-direction: column;
}

.create_post_form input {
  height: 1.5rem;
  border: 2px solid gray;
  border-radius: 8px;
  background-color: aliceblue;
}

.post-form-btns {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
