.nav {
  display: flex;
  gap: 1rem;
}

.nav a {
  grid-column: 1;
  justify-self: start;
  border: 2px solid black;
  border-radius: 8px;
  padding: 0 0.5rem;
  text-decoration: none;
  background-color: burlywood;
}
.nav a:hover {
  background-color: goldenrod;
  cursor: pointer;
}

.nav a:active {
  background-color: brown;
}

.nav a {
  font-weight: 600;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 600px) {
  .nav{
    justify-content: center;
    grid-column: span 3;
  }

  .nav a {
    width: fit-content;
    height: fit-content;
  }
}
