.single_post {
  height: 50%;
  display: flex;
  background-color: aliceblue;
  gap: 2rem;
  padding: 2rem;
  max-height: 600px;
  border-radius: 8px;
  border: 2px solid gray;
}

.single_img {
  height: auto;
  border-radius: 8px;
}
